<section class="movies">
    <div class="row">
        <div *ngFor="let item of movies.results" class="col-4 movie">
            <p-card [header]="item.original_title">
                <ng-template pTemplate="header">
                    <img alt="Card" [src]="movieImg + item.poster_path" />
                </ng-template>
                <p>
                    {{item.overview}}
                </p>
                <ng-template pTemplate="footer">
                    <p-button label="Detail" (click)="seeDetail(item.id)"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</section>